<div class="parent-container">
  <div class="top-header">
    <p>This is header template</p>
  </div>
  <div class="search">
    <input  placeholder="Search Entire Store Here ">
  </div>
  <div class="menu">
    <p>This is Menu</p>
  </div>
  <div class="product-list">
    <div class="product-header">
      <p class="product-header-title">Atta,Flour & Sooji</p>
      <button mat-raised-button class="product-header-more">
        more
      </button>
    </div>
    <mat-grid-list cols="4" rowHeight="4:8" >
      <mat-grid-tile >
        <div>
          <div>
            <img src="./../assets//image/366.jpg" width="100%" height="80%" 
            style="cursor:pointer;">
          </div>
          <div class="brand-icon">
            <div class="brand-name">
              <p>Brand Name</p>
            </div>
            <div class="fab-button">
              <button mat-mini-fab class="fab">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div>
            <p>product-name</p>
          </div>
          <div><p>price</p></div>
          <div class="button">
            <button mat-raised-button class="button-cart">Add to Cart</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div>
            <img src="./../assets//image/407.jpg" width="100%" height="80%"
            style="cursor:pointer;">
          </div>
          <div class="brand-icon">
            <div class="brand-name">
              <p>Brand Name</p>
            </div>
            <div class="fab-button">
              <button mat-mini-fab class="fab">
                <!-- <img src="./../assets/image/favorite.svg"> -->
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div>
            <p>product-name</p>
          </div>
          <div><p>price</p></div>
          <div class="button">
            <button mat-raised-button class="button-cart">Add to Cart</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div>
            <img src="./../assets//image/528.png" width="100%" height="80%"
            style="cursor:pointer;">
          </div>
          <div class="brand-icon">
            <div class="brand-name">
              <p>Brand Name</p>
            </div>
            <div class="fab-button">
              <button mat-mini-fab class="fab">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div>
            <p>product-name</p>
          </div>
          <div><p>price</p></div>
          <div class="button">
            <button mat-raised-button class="button-cart">Add to Cart</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>   
        <div>
          <div>
            <img src="./../assets//image/561.png" width="100%" height="80%"
            style="cursor:pointer;">
          </div>
          <div class="brand-icon">
            <div class="brand-name">
              <p>Brand Name</p>
            </div>
            <div class="fab-button">
              <button mat-mini-fab class="fab">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div>
            <p>product-name</p>
          </div>
          <div><p>price</p></div>
          <div class="button">
            <button mat-raised-button class="button-cart">Add to Cart</button>
          </div>
        </div>
    </mat-grid-tile>
      <mat-grid-tile>
        <div>
            <div>
              <img src="./../assets//image/390.png" width="100%" height="80%"
              style="cursor:pointer;">
            </div>
            <div class="brand-icon">
              <div class="brand-name">
                <p>Brand Name</p>
              </div>
              <div class="fab-button">
                <button mat-mini-fab class="fab">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
            </div>
            <div>
              <p>product-name</p>
            </div>
            <div><p>price</p></div>
            <div class="button">
              <button mat-raised-button class="button-cart">Add to Cart</button>
            </div>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
            <div>
              <img src="./../assets//image/430.jpg" width="100%" height="80%"
              style="cursor:pointer;">
            </div>
            <div class="brand-icon">
              <div class="brand-name">
                <p>Brand Name</p>
              </div>
              <div class="fab-button">
                <button mat-mini-fab class="fab">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
            </div>
            <div>
              <p>product-name</p>
            </div>
            <div><p>price</p></div>
            <div class="button">
              <button mat-raised-button class="button-cart">Add to Cart</button>
            </div>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
            <div>
              <img src="./../assets//image/484.jpg" width="158%" height="100%"
              style="cursor:pointer;">
            </div>
            <div class="brand-icon">
              <div class="brand-name">
                <p>Brand Name</p>
              </div>
              <div class="fab-button">
                <button mat-mini-fab class="fab">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
            </div>
            <div>
              <p>product-name</p>
            </div>
            <div><p>price</p></div>
            <div class="button">
              <button mat-raised-button class="button-cart">Add to Cart</button>
            </div>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div class="image">
            <img src="./../assets//image/584.jpg" width="60%" height="80%;"
            style="cursor:pointer;">
          </div>
          <div class="brand-icon">
            <div class="brand-name">
              <p>Brand Name</p>
            </div>
            <div class="fab-button">
              <button mat-mini-fab class="fab">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
          <div class="pro-name">
            <p>product-name</p>
          </div>
          <div class="price"><p>price</p></div>
          <div class="button">
            <button mat-raised-button class="button-cart">Add to Cart</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="footer">
    <div class="contact-about">
      <table class="contact-table" >
        <tr>
          <th class="table-title">PoolAPal</th>
          <th>Help</th>
        </tr>
        <tr>
          <td>About us</td>
          <td>FAQ</td>
        </tr>
        <tr>
          <td>Privacy Policy</td>
          <td>Contact Us</td>
        </tr>
        <tr>
          <td>Terms & Service</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="code-icon">
      <div class="code">QR code</div>
      <div class="icon">
        <a>Icon</a>
        <div>
          <button mat-mini-fab class="fb"  title="Facebook">FB</button>
          <button mat-mini-fab class="fb" title="Twitter">Tweet</button>
          <button mat-mini-fab class="fb" title="Whatapp">
            <img src="./../assets/image/phone.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>